.triangle-left {
    border-color: transparent rgb(104, 104, 104) transparent transparent;
    border-style: solid;
    border-width: 19px 19px 19px 0;
    height: 0;
    width: 0;

    position: absolute;
    left: 62px;
    bottom: 180px;
    z-index: 2999;
    display: none;
}

.triangle-left:before {
    position: absolute;
    bottom: -21px;
    left: 2px;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 21px 21px 21px 0;
    height: 0;
    width: 0;
    content: '';
}

.edit-box {
    position: absolute;
    opacity: 1.0;
    left: 80px;
    bottom: 44px;
    width: 60px;
    z-index: 2998;
    border-color: rgb(104,104,104);
    height: 171px;
    padding: 10px 5px;
    display: none;
}

.edit-box.with-measure-buttons {
    height: 280px;
}

.edit-button-container {
    width: 48px;
}

.edit-button-container a {
    display: block;
    font-size: 24px;
}

.edit-button {
    position: absolute;
    z-index: 3000;
    left: 20px;
    bottom: 180px;
}

.edit-box .edit-button-container {
    margin-bottom: 5px;
}

#edit-properties, #edit-features-list {
    margin-bottom: 0;
    border: 1px solid gray;
    bottom: 0;
    position: absolute;
    z-index: 3000;
    height: 120px;
    display: none;
    left: 144px;
    right: 2px;
}

#edit-features-list {
    left: auto;
    right: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    height: auto;
}

.edit-type-buttons {
    margin: 5px;
    float: left;
}

.properties-container {
    width: auto;
    overflow: hidden;
    margin-top: 5px
}

#symbolpicker {
    bottom:0;
    left:0;
    margin-bottom:0;
    top: 150px;
}

#symbolpicker .panel-footer {
    display: none;
}

#symbolpicker h3:first-child {
    margin-top: 0;
}

#symbolpicker h4 {
    padding-bottom: 10px;
}

#symbolpicker .symbol-large {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    display: inline-block;
    background-color: #EEE;
    overflow: hidden;
    padding: 10px;
    vertical-align: top;
}

#edit-symbol-buttons .btn {
    width: 50px;
    height: 38px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#edit-symbol-buttons #symbol-picker-button {

}

.symbol-btn img {
    width: 24px;
}

#symbolpicker .symbol-large img {
    width: 40px;
    float: left;
}

#symbolpicker .symbol-large span {
    display: block;
    overflow: hidden;
    padding-left: 2px;
}