.disable-selection, .disable-selection * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.triangle-left {
    border-color: transparent rgb(104, 104, 104) transparent transparent;
    border-style: solid;
    border-width: 19px 19px 19px 0;
    height: 0;
    width: 0;

    position: absolute;
    left: 62px;
    bottom: 180px;
    z-index: 2999;
    display: none;
}

.triangle-left:before {
    position: absolute;
    bottom: -21px;
    left: 2px;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 21px 21px 21px 0;
    height: 0;
    width: 0;
    content: '';
}

.edit-box {
    position: absolute;
    opacity: 1.0;
    left: 80px;
    bottom: 120px;
    width: 60px;
    z-index: 2998;
    border-color: rgb(104,104,104);
    height: 120px;
    padding: 10px 5px;
    display: none;
}

.edit-box.with-measure-buttons {
    height: 230px;
}

.edit-button-container {
    width: 48px;
}

.edit-button-container a {
    display: block;
    font-size: 24px;
}

.edit-button {
    position: absolute;
    z-index: 3000;
    left: 20px;
    bottom: 180px;
}

.edit-box .edit-button-container {
    margin-bottom: 5px;
}

.edit-type-buttons {
    margin: 5px;
    float: left;
}

.properties-container {
    width: auto;
    overflow: hidden;
    margin-top: 5px
}
.row-edit{
    margin-right:0px;
}

#symbolpicker {
    bottom:0;
    left:0;
    margin-bottom:0;
    top: 150px;
}

#symbolpicker .panel-footer {
    display: none;
}

#symbolpicker h3:first-child {
    margin-top: 0;
}

#symbolpicker h4 {
    padding-bottom: 10px;
}

#symbolpicker .symbol-large {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    display: inline-block;
    background-color: #EEE;
    overflow: hidden;
    padding: 10px;
    vertical-align: top;
}

#edit-symbol-buttons .btn {
    width: 50px;
    height: 38px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.symbol-btn img {
    width: 24px;
}

#symbolpicker .symbol-large img {
    width: 40px;
    float: left;
}

#symbolpicker .symbol-large span {
    display: block;
    overflow: hidden;
    padding-left: 2px;
}

.empty-message {
    margin-right: 15px;
}

#edit-symbol-container, #edit-features-list, #edit-symbol-properties {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    margin: 0;
    bottom: 0;
    border: 1px solid rgb(104,104,104);
}

#edit-symbol-container {
    height: 120px;
    display: none;
    left: 144px;
    right: 0;
    z-index: 3000;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    border-bottom: 0;
}

#edit-features-list, #edit-symbol-properties {
    padding: 20px 10px 0 10px;
    left: auto;
    right: 0;
    top: 0;
    width: 35vw;
    min-width: 275px;
    height: auto;
    display: none;
    bottom: 100px;
}

#edit-symbol-properties {
    top: auto;
    bottom: 120px;
    padding: 10px;
    height: 101px;
    z-index: 303;
}

#edit-features-list.visible, #edit-symbol-properties.visible.has-selected-feature {
    display: block;
}

#edit-features-list.visible + #edit-symbol-properties.visible {
    bottom: 0;
}

#edit-features-list.hidden + #edit-symbol-properties.visible {
    border-bottom: 0;
}

#edit-features-list h3 {
    margin-top: 0;
}

.features-table thead {
    font-size: 14px;
}

.features-table img {
    width: 40px;
}

.features-table .symbol {
    width: 60px;
}

.features-table .lbl {
    vertical-align: middle;
}

.features-table .lbl span {
    display: block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.features-table .remove {
    width: 44px;
    text-align: center;
    padding: 0 !important;
}

.features-table .remove a {
    display: block;
    width: 44px;
    height: 44px;
    padding-top: 10px;
}

.features-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow: auto;
    left: 10px;
    right: 10px;
}

@media screen and (max-width: 1000px) {
    #edit-features-list {
        bottom: 130px;
    }
    #edit-symbol-properties {
        height: 131px; /* has to overlap border, so +1px */
    }
}